<% content_for(:title, 'Изменение в учётной записи') %>
<h1>Редактирование</h1>

<%= simple_form_for :user, url: user_path(@user), method: :patch do |f| %>
  <p>
    <%= f.input :email, label: 'Электронная почта:' %>
  </p>

  <p>
    <%= f.input :password, label: 'Пароль:' %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
