<% content_for(:title, 'Новый пользователь') %>
<h1>Новый пользователь</h1>

<%= simple_form_for :user, url: users_path do |f| %>
  <p>
    <%= f.input :email, label: 'Электронная почта' %>
  </p>

  <p>
    <%= f.input :password, label: 'Пароль'  %>
  </p>

  <p>
    <%= f.button :submit %>
  </p>

<% end %>
