<% content_for(:title, 'Просмотр учётной записи') %>
<h1>Просмотр</h1>

<div id="allusers">
  <p>
    <b>Электронная почта:</b>
    <span><%= @user.email %></span>
  </p>

  <p>
    <b>Пароль + gem bcrypt:</b>
    <span><%= @user.crypted_password %></span>
  </p>

  <p>
    <b>Щепотка магии:</b>
    <span><%= @user.salt %></span>
  </p>

  <%= link_to 'Изменить', edit_user_path(@user) %>
</div>
