<% content_for(:title, 'Изменение в колоде') %>
<h1>Редактирование</h1>

<%= simple_form_for @deck do |f| %>

  <p>
    <%= f.input :title, label: 'Имя колоды' %>
  </p>

  <p>
    <%= f.button :submit, disable_with: "Сохраняется..." %>
  </p>

<% end %>
