<% content_for(:title, 'Новая колода') %>
<h1>Новая колода</h1>

<%= simple_form_for :deck, url: decks_path do |f| %>

  <p>
    <%= f.input :title, label: 'Имя колоды' %>
  </p>

  <p>
    <%= f.button :submit, disable_with: "Сохраняется..." %>
  </p>

<% end %>